@model organisation.Models.RunthroughHiscoreVM

@{
    ViewData["Title"] = "Details";
}

<h1>Runthrough Hiscore Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceManual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResourceManual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceARMManual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResourceARMManual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceDevOpsv0_1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResourceDevOpsv0_1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceDevOpsv0_2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResourceDevOpsv0_2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceDevOpsTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResourceDevOpsTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourceTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResourceTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskTotal)
        </dd>
    </dl>
</div>
<div class="form-group row">
    <div class="col-5">
        <partial name="_DetailsAndBackToListButton" model="Model.Id" />
    </div>
</div>